@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #10171d, #000);
  color: white;
  height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}
/* Mobile first */

/* Sidebar + Navbar */
aside .logo {
  top: 100px;
  left: 25px;
  position: fixed;
}

aside .logo img {
  width: 50px;
}

aside .links {
  position: fixed;
  bottom: 0px;
  height: 80px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-around;
  background: linear-gradient(to right, #10171d, #000);
  align-items: center;
  font-weight: 500;
  z-index: 100;
}

/* Social links */

header {
  position: relative;
  top: 0;
  left: 0;
}

header .socials {
  position: fixed;
  top: 50px;
  right: 25px;
  transform: translateY(-50%);
  width: 80px;
  display: flex;
  justify-content: space-between;
}

header .bread {
  display: none;
}
